$navListColor: #556;

.desktop_header{
    width: 100%;
    height: 72px;
    color: $navListColor;
    position: relative;
    background: gray;
    display: none;

    @media(min-width: 700px){
        display: block;
    }

    .desktop_nav{
        width: 40%;
        height: 72px;
        position: absolute;
        right: 3%;
        line-height: 72px;
        border: 1px solid black;

        li{
            width: 30%;
            height: 72px;
            margin: 0 1% 0 1%;
            text-align: center;
            border: 1px solid black;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;

            @media(min-width: 1000px){
                font-size: 18px;
            }
        }

        a{
            text-decoration: none;
            color: $navListColor;
        }
    }
}

.mobile_header{
    width: 100%;
    height: 60px;
    background: red;

    @media(min-width: 700px){
        display: none;
    }
}