$navListColor: #556;
$headerBackground: #fef;

.desktop_header{
    width: 94%;
    height: 68px;
    color: $navListColor;
    position: absolute;
    left: 3%;
    top: 20px;
    border-radius: 6px;
    z-index: 50;
    background: $headerBackground;
    display: none;

    @media(min-width: 700px){
        display: block;
    }

    .desktop_nav{
        width: 40%;
        position: absolute;
        right: 5%;
        line-height: 68px;

        @media(min-width: 1000px){
            width: 35%;
        }

        li{
            width: 30%;
            margin: 0 1% 0 1%;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;

            @media(min-width: 1000px){
                font-size: 18px;
            }
        }

        a{
            text-decoration: none;
            color: $navListColor;
        }
    }
}

.mobile_header{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 50;
    background: $headerBackground;
    @media(min-width: 700px){
        display: none;
    }

    .ham{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: lightgray;
        padding-top: 10px;
        position: absolute;
        top: 7px;
        left: 9px;
        cursor: pointer;
        z-index: 105;

        .line{
            width: 22px;
            height: 2px;
            background: black;
            margin: 4px auto;
        }
    }

    .cross{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: lightgray;
        font-weight: bold;
        font-size: 20px;
        padding-top: 11px;
        text-align: center;
        position: absolute;
        top: 7px;
        left: 9px;
        cursor: pointer;
        z-index: 105;
    }

    .mobileMenu{
        width: 200px;
        height: 320px;
        background: #eee;
        position: absolute;
        z-index: 100;

        .mobile_nav{
            width: 100%;
            position: absolute;
            top: 90px;
            text-align: center;
            line-height: 50px;
            cursor: pointer;
            padding-bottom: 10px;

            li{
                font-weight: bold;
                font-size: 18px;
                cursor: pointer;
                -webkit-transition: all 0.2s;
                transition: all 0.2s;
            }

            li:hover{
                font-size: 20px;
                background: #fff
            }
        }
    }
        
}