
.main_angular_container{
    width: 100%;
    position: relative;

    .angular_fullscreen_intro{
        width: 100%;
        height: 100vh;
        background: url('./img/angular/angular_fullscreen_intro.jpeg')center no-repeat;
        background-size: cover;
        position: relative;

        h1{
            width: 60%;
            font-size: 38px;
            font-weight: bold;
            color: #d00;
            text-shadow: 1px 1px 1px black;
            text-align: center;
            position: absolute;
            left: 20%;
            top: 20%;


            @media(min-width: 700px){
                font-size: 54px;
            }
        }

        .angular_scroll_circle{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #d00;
            cursor: pointer;
            position: absolute;
            bottom: 15px;
            left: calc(50% - 20px);
            animation: pulse 1.6s infinite ease-in-out;

            @keyframes pulse{
                50%{
                    transform: scale(1.1);
                }
                100%{
                    transform: scale(1);
                }
            }

            img{
                width: 20px;
                height: 20px;
                position: absolute;
                left: 10px;
                top: 11px;
            }
        }
    }
    
    .angular_tutorials_container{
        width: 100%;
        background: #ddd;
        padding: 20px 10px 15px 10px;
        z-index: 1000;

        #angular_pic_a{
            width: 350px;
            height: 282px;
            margin: 10px 0px 10px 10px;
            display: block;
        }

        #angular_pic{
            width: 350px;
            height: 262px;
        }

        #angular_pic:hover{
            border: 2px solid black;
        }

        #angular_box1{
            background: #e45;
        }

        #angular_box2{
            background: #14b;
            margin-left: 180px;
        }

        .angular_example_wrapper{
            @media(min-width: 1000px){
                width: 45%;
                margin-left: 2.5%;
                margin-right: 2.5%;
                float: left;
            }
        }

        #angular_box3{
            width: 200px;
            height: 90px;
            background: #333;
            color: #eee;

            .highlighted{
                background: yellow;
                color: black;
            }
        }

        #angular_box4{
            background: #f70;
        }

        .angular_to_do_list{
            width: 250px;
            margin: 10px 0px 10px 0px;
            padding: 10px 10px;
            background: black;
            color: #fee;
        }
    }
}



