
.csspage_container{
    width: 100%;
    position: relative;
}

.css_fullscreen_intro{
    width: 100%;
    height: 100vh;
    overflow: hidden;

    video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        @media (min-aspect-ratio: 16/9) {
            width: 100%;
            height: auto;
        }

        @media (max-aspect-ratio: 16/9) {
            width: auto;
            height: 100vh;
            left: -50%;
        }
    }

    h1{
        width: 60%;
        font-size: 70px;
        font-weight: bold;
        color: white;
        z-index: 5;
        position: absolute;
        top: 85px;
        left: 20%;
        text-align: center;
        animation: pulse 1s infinite ease-in-out;
        -webkit-animation: pulse 1s infinite ease-in-out;

        @media(min-width: 700px){
            top: 105px;
        }
    }
    
    @keyframes pulse {
        0% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
        }
        50% {
        -webkit-transform: scale3d(1.3,1.3,1.3);
        transform: scale3d(1.3,1.3,1.3);
        }
        100% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
        }
     }

    
}

.css_tutorials_container{
    width: 100%;
    height: 800px;
    background: #bbb;
    margin-top: 50vh;
    padding: 20px 10px 15px 10px;
    z-index: 1000;
}

.css_animation_wrapper{
    width: calc(100% - 20px);
    margin-bottom: 20px;

    h2{
        font-size: 24px;
        font-weight: bold;
        margin: 20px 0px 15px 0px;
    }
}
