
.csspage_container{
    width: 100%;
    position: relative;
}

.css_fullscreen_intro{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        @media (min-aspect-ratio: 16/9) {
            width: 100%;
            height: auto;
        }

        @media (max-aspect-ratio: 16/9) {
            width: auto;
            height: 100vh;
            left: -50%;
        }
    }

    h1{
        width: 60%;
        font-size: 70px;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px 1px #fd8;
        position: absolute;
        top: 85px;
        left: 20%;
        text-align: center;
        animation: pulse 1s infinite ease-in-out;
        -webkit-animation: cssPulse 5s infinite ease-in-out;

        @media(min-width: 700px){
            top: 105px;
        }
    }

    .css_scroll_circle{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: white;
        cursor: pointer;
        position: absolute;
        bottom: 15px;
        left: calc(50% - 20px);
        animation: pulse 1.6s infinite ease-in-out;

        img{
            width: 20px;
            height: 20px;
            position: absolute;
            left: 10px;
            top: 11px;
        }
    }
}

.css_tutorials_container{
    width: 100%;
    background: #bbb;
    padding: 20px 10px 15px 10px;
    z-index: 1000;
}

.css_animation_wrapper{
    width: calc(100% - 20px);
    margin-bottom: 20px;
    perspective: 2000px;

    h2{
        font-size: 25px;
        font-weight: bold;
        margin: 10px 0px 15px 0px;

        @media(min-width: 1000px){
            font-size: 34px;
        }
    }

    p{
        margin-bottom: 10px;
    }

    .css_examplebox{
        width: 140px;
        height: 40px;
        border-radius: 5px;
        box-shadow: 3px 3px 5px;
        margin-bottom: 10px;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        padding-top: 12px;
    }

    img{
        max-width: 95%;
        margin-bottom: 10px;
    }

    #css_pretty{
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 3px;
        line-height: 17px;
        color: #e27;
        text-shadow: 2px 2px 3px #601;
    }

    #css_box1{
        background: blue;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
    }

    #css_box1:hover{
        transform: scale(1.1);
        background: #26e;
    }

    #css_box2{
        margin-left: 20px;
        background: green;
        transition: all 1s;
        -webkit-transition: all 1s;
        transform-origin: left top;
    }

    #css_box2:active{
        transform: rotate(20deg);
    }

    #css_box3{
        margin-left: 20px;
        background: #52a;
        transition: all 2s;
        -webkit-transition: all 2s;
        transform-origin: left;
    }

    #css_box3:active{
        transform: rotateY(80deg);
        background: #215;
    }

    #css_box4{
        background: #159;
        position: absolute;
        top: 30px;
        left: 0;
        animation: movearound 4s infinite;
        -webkit-animation: movearound 4s infinite;
    }

    #css_box5{
        background: #c6c;
        margin-top: 50px;
        margin-bottom: 50px;
        animation: spinaround 3s infinite;
        -webkit-animation: spinaround 3s infinite;
    }

    #css_box6{
        background: #6b2;
        margin-top: 50px;
        margin-bottom: 50px;
        animation: spinOnEdge 3s infinite;
        -webkit-animation: spinOnEdge 3s infinite;
    }
}
