
.pagelink{
    width: 130px;
    height: 40px;
    border-radius: 6px;
    background: linear-gradient(to bottom right, #99c, lightseagreen, #99c);
    display: inline-block;
    margin-right: 8px;
    margin-top: 6px;
    text-align: center;
    font-weight: bold;
    padding-top: 12px;
    cursor: pointer;
    box-shadow: 3px 3px 5px #144;
}

.pagelink:hover{
    transform: scale(1.01);
    color: #222;
}

.js_container{
    width: 100%;
    position: relative;
}

.js_container_backdrop{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: url('./img/js/js_intro.jpeg')right no-repeat;
    background-size: cover;
    z-index: -5;
}

.js_main{
    width: 100%;
    background: #ccc;
    padding: 120px 0 15px 11%;

    @media(min-width: 1000px){
        position: absolute;
        width: 86%;
        top: 100px;
        padding-top: 40px;
        left: 7%;
        background: linear-gradient(to right, #ccc, #eee);
    }

    h1{
        font-size: 32px;
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: 30px;

        @media(min-width: 1000px){
            margin-left: 25%;
        }
    }

    .js_intro_header{
        width: 88%;
        margin-bottom: 40px;

        div{
            margin-top: 6px;
            width: 150px;
            height: 40px;
            border-radius: 5px;
            background: linear-gradient(to right, #b29f94, #603813);
            font-weight: bold;
            text-align: center;
            padding-top: 12px;
            cursor: pointer;
            box-shadow: 3px 3px 5px;
        }
    }

    h2{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    img {
        margin-top: 60px;
        display: block;
        max-width: 95%;
    }

    p{
        font-size: 17px;
        margin-bottom: 4px;
        margin-top: 10px;
    }

    a{
        text-decoration: none;
        color: black;
    }

    .js_examplebox{
        width: 180px;
        height: 40px;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        padding-top: 11px;
        position: absolute;
        left: 10px;
    }

    .js_animation_wrapper{
        width: 86%;
        margin-bottom: 40px;
        position: relative;
    }

    .js_animation_wrapper a{
            text-decoration: underline;
            color: blue;
    }

    #js_box1{
        width: 100px;
        background: blue;
    }

    #js_box2{
        background: green;
    }

    
    #js_box3{
        background: orange;
        -webkit-transition: all 2s;
        transition: all 2s;
    }

    #example3_css{
        margin-top: 10px;
    }

    #js_box4{
        width: auto;
        height: auto;
    }

    #js_input{
        margin-top: 60px;
    }

    #js_example4_code{
        margin-top: 10px;
    }
    
}
